/* Test Page */
.choices input.radio, .choices label{
    margin-left: 20px;
}

.header{
    font-size: 1.25rem;
}
.choices {
    margin-bottom: 10px;
    border-left: solid  hsl(348, 100%, 61%) 2px;
}


.score {
    padding: 40px;
    margin: 40px;
    border: solid black 2px;
    border-radius: 10px;
}

.score_number{
    font-size: 2rem;
    font: monospace;
}

ul li {
    display: inline;
    margin-left: 10px;
}

ul li svg:first-child, ul li i:first-child{
    margin-right: 10px;
}