<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'tests:home'%} " class="navbar-item">
        Home
      </a>

      <a href="{% url  'tests:attempts_list' %}" class="navbar-item">
        Results
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button is-light">
                    Log out
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="button is-light">
                    Log in
                </a>          
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>