{% extends 'base.html' %}

{% block content %}

<div style='display: flex'>
    <div style='margin: 100px auto auto auto' class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input class='button is-success' type="submit" value="Upload">
        </form>

    </div>
</div>

<script>
$('#id_title').hide()
$('label').addClass('label')
$('#id_file').change(function(){
    name = $("#id_file").val().split("\\").slice(-1)[0]
    $("#id_title").val(name)
    $('label[for="id_title"]').text('Title: ' + name)
})
</script>

{% endblock content %}